<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Стальные решения</title>
    {# Load the django_bootstrap5 library #}
    {% load django_bootstrap5 %}
    {# Load CSS and JavaScript separately#}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block content%}
{% endblock %}
</body>
</html>